@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --image-size: 200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  a {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2;
  }
  a:hover {
    text-underline-offset: 4;
  }
}

.photo {
  display: block;
  position: absolute;
  z-index: -1;
  height: var(--image-size);
  width: var(--image-size);

  -webkit-animation: moveX 4s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 4s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 4s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
  animation: moveX 4s linear 0s infinite alternate,
    moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - var(--image-size));
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - var(--image-size));
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - var(--image-size));
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - var(--image-size));
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - var(--image-size));
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - var(--image-size));
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - var(--image-size));
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - var(--image-size));
  }
}
